<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agenda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.agendaMain.AgendMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.agendaMain.ITCutiesReaderAppActivity"
            android:label="@string/title_activity_display_news" >
        </activity>
        <activity
            android:name="com.example.agendaMyAcount.Courses"
            android:label="@string/title_activity_display_courses" >
        </activity>
        <activity
            android:name="com.example.agendaMain.Schedule"
            android:label="@string/title_activity_display_schedule" >
        </activity>
        <activity
            android:name="com.example.agendaMain.News"
            android:label="@string/title_activity_display_news" >
        </activity>
        <activity
            android:name="com.example.agendaMain.Settings"
            android:label="@string/title_activity_display_settings" >
        </activity>
        <activity
            android:name="com.newsfeed.viewer.NewsFeedDetails"
            android:label="@string/title_activity_news_feed_details" >
        </activity>
        <activity
            android:name="com.example.agendaMyAcount.ScheduleCourses"
            android:label="@string/title_activity_schedule_courses" >
        </activity>
        <activity
            android:name="com.example.agendaMyAcount.AccountMainActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="com.example.agendaMyAcount.MySchedule"
            android:label="@string/title_activity_my_schedule" >
        </activity>
        <activity
            android:name="com.example.agendaMyAcount.GeneralInfos"
            android:label="@string/title_activity_general_infos" >
        </activity>
    </application>

</manifest>